body {
  background-color: #f7f7f7;
  color: #2d2d2d;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

form input {
  box-sizing: border-box;
}

header {
  background-color: #4267b2;
  width: 100%;
}

.big-input {
  width: 100%;
}

.facebook-login {
  margin: 2em;
  width: 80%;
}

.facebook-logo-container {
  background-color: #4267b2;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.facebook-logo-container img {
  height: 44px;
  margin: 0;
  width: 117px;
}

.form {
  color: #7f7f7f;
}

.form-control {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  font-weight: 800;
  justify-content: center;
}

.form-control-button {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 0.2em;
  color: #fefefe;
  font-weight: 800;
  margin: 1em 0 0;
  padding: 1em;
  transition: 0.3s;
  width: 9100%;
}

.form-control-submit {
  background-color: #2ea043;
  border: 1px solid #2ea043;
  border-radius: 0.2em;
  color: #fefefe;
  font-weight: 700;
  margin: 2em 0;
  padding: 1em;
  transition: 0.3s;
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group-input {
  border: 1px solid #4267b2;
  padding: 1em;
  transition: 0.3s;
}

.form-group-label {
  display: none;
}

.hidden-input {
  display: none;
  width: 95%;
}

.left-content {
  display: none;
}

.main-content {
  align-items: baseline;
  display: flex;
  margin: 1em auto;
  padding: 2em;
  width: fit-content;
}

.radio-container {
  align-items: center;
  display: flex;
}

.radio-container label {
  color: #2d2d2d;
  font-size: 0.9em;
  margin: 0 0.5em 0 0.2em;
  opacity: 0.8;
}

.right-content {
  display: none;
  flex-flow: column;
  margin: 0 auto;
  width: 100%;
}

.right-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.right-content input {
  border: 1px solid #8b9dc3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 0.5em;
  transition: 0.3s;
}

.right-content label {
  width: 100%;
}

.fix-layout-container {
  width: 6.25rem;
}

.small-input {
  width: 48%;
}

.submitButton {
  background-color: #2ea043;
  border: none;
  border-radius: 0.3em;
  color: #fefefe;
  font-weight: 800;
  margin: 1em 0;
  padding: 0.8em 2em;
  transition: 0.3s;
}

.top-bar {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

@media screen and ( min-width : 768px ) {

  body {
    background-color: unset;
    background-image: linear-gradient(to bottom, #fefefe, #dfe3ee);
    min-width: 768px;
  }

  .facebook-login {
    align-items: flex-end;
    display: flex;
    font-size: 0.8em;
    font-weight: 700;
    margin: 0;
    width: unset;
  }

  .facebook-logo-container {
    align-items: center;
    background-color: #4267b2;
    margin: 0;
    padding: 0;
    width: fit-content;
  }

  .form-control-button {
    margin: 0;
    padding: 0.5em 1em;
    width: fit-content;
  }

  .form-control-button:hover {
    background-color: #4267b2;
    border: 1px solid #8b9dc3;
    box-shadow: 0 1px 5px #8b9dc3;
  }

  .form-control-submit {
    display: none;
  }

  .form-group {
    margin: 0 10px;
  }

  .form-group-input {
    margin: 5px 0;
    padding: 0.2em;
    width: 150px;
  }

  .form-group-input:focus , .form-group-input:hover {
    border: 1px solid #8b9dc3;
    box-shadow: 0 1px 5px #fefefe;
  }

  .form-group-input::placeholder {
    opacity: 0;
  }

  .form-group-label {
    display: unset;
  }

  .left-content {
    display: unset;
    width: 60%;
    margin-left: 1rem;
  }

  .left-content img {
    width: 90%;
  }

  .left-content p {
    color: #123456;
    font-weight: 700;
    margin: 1em 0;
    width: 80%;
  }

  .radio-container label:hover {
    opacity: 1;
  }

  .right-content {
    display: flex;
    width: 40%;
  }

  .right-content input:hover {
    border: 1px solid #3b5998;
  }

  .submitButton:hover {
    background-color: #6cc644;
  }

  .top-bar {
    background-color: #4267b2;
    color: #fefefe;
    justify-content: space-between;
    padding: 10px 0;
    width: 90%;
  }
}

@media screen and ( min-width : 1000px ) {
  body {
    background-color: unset;
    background-image: linear-gradient(to bottom, #fefefe, #dfe3ee);
    min-width: 768px;
  }

  .facebook-login {
    align-items: flex-end;
    display: flex;
    font-size: 0.8em;
    font-weight: 700;
    margin: 0;
    width: unset;
  }

  .facebook-logo-container {
    align-items: center;
    background-color: #4267b2;
    margin: 0;
    padding: 0;
    width: fit-content;
  }

  .form-control-button {
    margin: 0;
    padding: 0.5em 1em;
    width: fit-content;
  }

  .form-control-button:hover {
    background-color: #4267b2;
    border: 1px solid #8b9dc3;
    box-shadow: 0 1px 5px #8b9dc3;
  }

  .form-control-submit {
    display: none;
  }

  .form-group {
    margin: 0 10px;
  }

  .form-group-input {
    margin: 5px 0;
    padding: 0.2em;
    width: 150px;
  }

  .form-group-input:focus , .form-group-input:hover {
    border: 1px solid #8b9dc3;
    box-shadow: 0 1px 5px #fefefe;
  }

  .form-group-input::placeholder {
    opacity: 0;
  }

  .form-group-label {
    display: unset;
  }

  .left-content {
    display: unset;
    width: 60%;
    margin-left: 1.5rem;
  }

  .left-content img {
    width: 90%;
  }

  .left-content p {
    color: #123456;
    font-weight: 700;
    margin: 1em 0;
    width: 80%;
  }

  .radio-container label:hover {
    opacity: 1;
  }

  .right-content {
    display: flex;
    width: 40%;
  }

  .right-content input:hover {
    border: 1px solid #3b5998;
  }

  .submitButton:hover {
    background-color: #6cc644;
  }

  .top-bar {
    background-color: #4267b2;
    color: #fefefe;
    justify-content: space-between;
    padding: 10px 0;
    width: 90%;
  }
}

@media screen and ( min-width : 1200px ) {

  body {
    min-width: 1200px;
  }

  .left-content {
    width: 700px;
  }

  .left-content img {
    width: 537px;
  }

  .right-content {
    width: 300px;
  }

  .top-bar {
    width: 1100px;
  }
}
